[submodule "navXTimeSync"]
	path = navXTimeSync
	url = https://github.com/FRC900/navXTimeSync.git
[submodule "zebROS_ws/src/rplidar_ros"]
	path = zebROS_ws/src/rplidar_ros
	url = https://github.com/robopeak/rplidar_ros.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
