<launch>
  <!-- 
  Slave Node Launcher
  * ZED Wrapper Instance
  * Fuel Detection Node
  * Robot Localization Node
  * RTABMAP Node
	-->
  <arg name="svo_file" default="" />
  <arg name="zed_id" default="0" />
  <arg name="brightness" default="-1" />
  <arg name="contrast" default="-1" />
  <arg name="hue" default="-1" />
  <arg name="saturation" default="-1" />
  <arg name="gain" default="-1" />
  <arg name="exposure" default="-1" />
  <arg name="name" default="zed_fuel" />
  <arg name="record" default="false" />
  
  <group name="$(arg name)">
    <include file="$(find zed_wrapper)/launch/zed_camera.launch">
      <arg name="svo_file" value="$(arg svo_file)" />
      <arg name="zed_id" value="$(arg zed_id)" />
	  <arg name="zed_name" value="$(arg name)" />
      <arg name="brightness" value="$(arg brightness)" />
      <arg name="contrast" value="$(arg contrast)" />
      <arg name="hue" value="$(arg hue)" />
      <arg name="saturation" value="$(arg saturation)" />
      <arg name="gain" value="$(arg gain)" />
      <arg name="exposure" value="$(arg exposure)" />
    </include>
  </group>
  <!--node name="fuel_detection_node" pkg="fuel_detection" type="fuel_detection_node" respawn="true" /-->
</launch>
