<launch>

  <node name="goal_detection_node" pkg="goal_detection" type="goal_detection_node" respawn="true" />

  <group>
    <machine name="jetson2" address="ubuntu@10.9.0.12" env-loader="/opt/ros/kinetic/env.sh" user="ubuntu" password="ubuntu"/>
    <include file="$(find zed_wrapper)/launch/zed.launch"/>
  </group>
  
  <!--
  	Figure out how to launch ZEDs together or separately
  	Will use <machine> tag
  -->
  
  
  
  <!-- Uncomment when fuel detection is done
  <node name="fuel_detection_node" pkg="fuel_detection" type="fuel_detection_node" respawn="true" />
  -->
  
  <node name="navx_publisher_node" pkg="navx_publisher" type="navx_publisher_node" respawn="true" />
  
</launch>
