<?xml version="1.0"?>

<launch>
	<!-- Lidar for scan topic -->
  <include file="$(find rplidar_ros)/launch/rplidar.launch" />

  <!-- Grab odom from wheels and VO, plus IMU.  Fuse it into 
	   one odometry message 
       Also includes transforms for each of those sensors -->
  <include file=localization.launch/>

</launch>
