<?xml version="1.0"?>

<launch>

<arg name="camera"          default="zed"/>

<arg name="pi/2" value="1.5707963267948966" />
<arg name="optical_rotate" value="0 0 0 -$(arg pi/2) 0 -$(arg pi/2)" />

<node pkg="tf" type="static_transform_publisher" name="$(arg camera)_base_link3"
    args="$(arg optical_rotate) $(arg camera)_current_frame $(arg camera)_left_camera 100" />

<node name="zed_wrapper_node" pkg="zed_wrapper" type="zed_wrapper_node"/>

<node name="rviz" pkg="rviz" type="rviz" />

<group ns="rtabmap">
   <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="--delete_db_on_start">
	  <param name="frame_id"            type="string" value="$(arg camera)_current_frame"/>
	
	  <remap from="rgb/image"       to="/rgb/image_rect_color"/>
  	  <remap from="depth/image"     to="/depth/depth_registered"/>
  	  <remap from="rgb/camera_info" to="/rgb/camera_info"/>
	  <remap from="odom" to="/odom"/>
   </node>
</group>

</launch>
