<?xml version="1.0"?>

<launch>
  <arg name="zed_name" default="zed"/>
  <arg name="svo_file" default=""/>
  <arg name="zed_id"   default="0"/>

  <group ns="$(arg zed_name)">
    <include file="$(find zed_wrapper)/launch/zed_camera.launch">
	  <arg name="zed_name" value="$(arg zed_name)"/>
	  <arg name="svo_file" value="$(arg svo_file)" />
	  <arg name="zed_id"   value="$(arg zed_id)" />
    </include>
  </group>

</launch>
