# Zebravision 2017 

[Unit]
Description=2017 ROS Master Startup Script

[Service]
Type=forking
WorkingDirectory=/mnt/900_2

ExecStartPre=/bin/sh -ec 'sleep 5' ; \
	     /home/ubuntu/2017VisionCode/set_freq_tx.sh ; \ 
	     /home/ubuntu/2017VisionCode/set_freq_tx.sh ; \
	     /bin/sh -ec 'ifup eth0 || true' ; \
		 /bin/sh -ec "sudo mount $(ls /dev/disk/by-id/ | grep 'SanDisk.*part1') /mnt/900_2" ; \

ExecStart=/home/ubuntu/2017VisionCode/launch/master.sh

[Install]
WantedBy=multi-user.target
Restart=on-failure
